
#homePage
{
  background-image: url(../assets/images/IMG_1885.jpg);
  background-size: 100% auto;
  margin-top: 0px;
  background-repeat: no-repeat;
  padding-bottom:800px;
}

#homePage #aboutBtn
{
    color:rgba(229, 196, 63, 0.872);
}

#homePage p
{
    margin-top: 30px;
    line-height: 30px;
    color:white;
}

#homePage h1
{
    padding-top: 200px;
    color:white;
}

#startBtn
{
    background-color:rgba(219, 219, 219, 0.228); 
    background-repeat:no-repeat;
    color: rgb(255, 255, 255);
    border-radius: 0;
    border-color: rgb(255, 255, 255);
}
