<div class="container">
    <div class="row">
       <ol class="col-12 breadcrumb">
           <li class="breadcrumb-item">
               <a  href="/home" title="home">Home</a>
           </li>
           <!-- <li class="breadcrumb-item"><%= page %></li> -->
            <% if (page != "home") { %><li class="breadcrumb-item"><%= title %></li><% } else { %><% } %>
       </ol>
   </div>
</div>