<!-- Breadcrumb Page EJS -->
<div class="container">
    <div class="row">
       <ol class="col-12 breadcrumb">
           <li class="breadcrumb-item">
            <% if (page != "home") { %> <a  href="/home" title="home">Home</a></li><% } else { %><p>Home</p><% } %>
              
           </li>
            <% if (page != "home") { %><li class="breadcrumb-item"><%= title %></li><% } else { %><% } %>
       </ol>
   </div>
</div>