<div class="jumbotron-fluid">
    <div class="container">
        <div class="row">
            <h1 class="display-3"><%= title %></h1>
            <p class="lead">Hok Hei Wong, Anthony</p>
            <hr class="my-2">
        </div>
        <div class="row">
            <div class="col-12 col-sm-4">
                <img src="./assets/images/personalPhoto.jpg" alt="Hok Hei Wong">
            </div>
            <div class="col-12 col-sm-8">
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="Jumbo action link" role="button">Jumbo action name</a>
        </p>
            </div>
        </div>
    </div>
    <div class="container">
    </div>
</div>