<div class="jumbotron-fluid">
    <div class="container">
        <div class="row">
            <h1 class="display-3"><%= title %></h1>
            <p class="lead">Hok Hei Wong, Anthony</p>
            <hr class="my-2">
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="./assets/images/personalPhoto.jpg" class="img-rounded" alt="Hok Hei Wong" width="304" height="236">
            </div>
            <div class="col-12 col-md-6">
            <p class="lead">Hi
            </p>
            </div>
        </div>
    </div>    
</div>