<!-- File name: Assignment2
Student Name : Hok Hei Wong
StudentID : 301193519
Date: June 20, 2022-->

<!-- About Me EJS -->
<div class="jumbotron-fluid">
    <div class="container">
        <div class="row">
            <h1 class="display-3"><%= title %></h1>
            <p class="lead">Hok Hei Wong, Anthony</p>
            <hr class="my-2">
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="row">
                    <div class="col-12  mb-2">
                    <img src="./assets/images/personalPhoto.jpg" class="img-fluid rounded" alt="Hok Hei Wong" >
                    
                    </div>
                    <div class="col-2 text-center">
                        <a class="btn-link btn btn-lg btn-social-icon btn-facebook" href="https://www.facebook.com/profile.php?id=1168750450"><i class="fa-brands fa-facebook"></i></a>
                    </div>
                    <div class="col-2 text-center">
                        <a class="btn-link btn btn-lg btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/hok-hei-wong-8b620a1b9/ "><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                    <div class="col-2 text-center">
                        <a class="btn-link btn btn-lg btn-social-icon btn-twitter" href="https://twitter.com/wong95216"><i class="fa-brands fa-twitter"></i></a>
                    </div>
                    <div class="col-2 text-center">
                        <a class="btn-link btn btn-lg btn-social-icon btn-github" href="mailto:anthonywong.hokhei@gmail.com"><i class="fa-solid fa-envelope"></i></a>
                    </div>
                    <div class="col-2 text-center">
                        <a class="btn btn-sm btn-social-icon btn-github" href="https://github.com/anth0nywong"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-8">
            <p class="lead">Personal Information</p>
            <p>Name: Hok Hei Wong</p>
            <p>I was a graudate in Civil Engineering Degree in Hong Kong and had been an assistant engineer for 2 years. 
                I like technologies so much and I decided to be a software engineer in Canada a year ago. I hope I can be a professional full stack web developer in future and develop my own indie-games.</p>
            <p>Education:<br> Bechalor Degree in Civil Engineering<br>
                Diploma in Software Engineering </p>
            <p></p>
            <p>Skills</p>
            <ul>
                <li>C#, Java</li>
                <li>Web Development (MERN Stack)</li>
                <li>Unity</li>
                <li>GitHub</li>
                <li>AWS</li>
                <li>Oracle DB, Oracle Cloud Database</li>
            </ul>
            <a class="text-muted" href="./assets/pdf/Hok_Hei_Wong_CV.pdf" role="button">Resume</a>
            </div>
        </div>
    </div>    
</div>