<div class="jumbotron-fluid">
    <div class="container">
        <div class="row">
            <h1 class="display-3"><%= title %></h1>
            <p class="lead">Hok Hei Wong, Anthony</p>
            <hr class="my-2">
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <img src="./assets/images/personalPhoto.jpg" class="img-fluid" alt="Hok Hei Wong" >
            </div>
            <div class="col-12 col-md-6 col-lg-8">
            <p class="lead">Personal Information</p>
            <p class="ms-auto">Name: Hok Hei Wong</p>
            <p class="ms-auto">Home Town: Hong Kong</p>
            
            </div>
        </div>
    </div>    
</div>