<div class="jumbotron-fluid">
    <div class="container">
        <h1 class="display-3"><%= title %></h1>
        <hr class="my-2">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <h3>Contact Information</h3>
                <p></p>
            </div>
            <div class="col-12 col-sm-6">
                <h3>Location</h3>
                <h5>My Address</h5>
                <address>
                    105, John Tabor Trail<br>
                    Scarborough<br>
                    HONG KONG<br>
                    <i class="fa fa-phone fa-lg"></i>: +852 1234 5678<br>
                    <i class="fa fa-fax fa-lg"></i>: +852 8765 4321<br>
                    <i class="fa fa-envelope fa-lg"></i>: 
                    <a href="mailto:confusion@food.net">confusion@food.net</a>
                 </address>
            </div>
        </div>
        <hr class="my-2">
    </div>
    <div class="container">
        <div class="row row-content">
            <div class="col-12">
               <h3>Feel free to leave a message below</h3>
            </div>
             <div class="col-12 col-md-9">
                 <form action="/" >
                     <div class="form-group row">
                         <label for="firstname" class="col-md-2 col-form-label">First Name</label>
                         <div class="col-md-10">
                             <input type="text" class="form-control" id="firstname" name="firstname"
                                 placeholder="First Name">
                         </div>
                         <label for="lastname" class="col-md-2 col-form-label">Last Name</label>
                         <div class="col-md-10">
                             <input type="text" class="form-control" id="lastname" name="lastname"
                                 placeholder="Last Name">
                         </div>
                     </div>
                     <div class="form-group row">
                         <label for="telenum" class="col-12 col-md-2 col-form-label">Contact Tel.</label>
                         <div class="col-5 col-md-3">
                             <input type="text" class="form-control" id="areacode" name="areacode"
                                 placeholder="Area Code">
                         </div>
                         <div class="col-7 col-md-7">
                             <input type="text" class="form-control" id="telnum" name="telnum"
                                 placeholder="Tel. Number">
                         </div>
                     </div>
                     <div class="form-group row">
                         <label for="emailid" class="col-md-2 col-form-label">Email</label>
                         <div class="col-md-10">
                             <input type="text" class="form-control" id="emailid" name="emailid"
                                 placeholder="Email">
                         </div>
                     </div>
                     <div class="form-group row">
                         <div class="col-md-6 offset-md-2">
                             <div class="form-check">
                                 <input type="checkbox" class="form-check-input" name="approve" id="approve" value="">
                                 <label class="form-check-label" for="approve">
                                     <strong>May I contact you?</strong>
                                 </label>
                             </div>
                         </div>
                         <div class="col-md-3 offset-md-1">
                             <select class="form-control">
                                 <option>Tel.</option>
                                 <option>Email</option>
                             </select>
                         </div>
                     </div>
                     <div class="form-group row">
                         <label for="feedback" class="col-md-2 col-form-label">Message</label>
                         <div class="col-md-10">
                             <textarea class="form-control" id="feedback" name="feedback" rows="12"></textarea>
                         </div>
                     </div>
                     <div class="form-group row">
                         <div class="offset-md-2 col-md-10">
                             <button type="submit" class="btn btn-primary">Send Feedback</button>
                         </div>
                     </div>
                 </form>
             </div>
              <div class="col-12 col-md">
             </div>
        </div>
    </div>
</div>
