<!-- File name: Assignment2
Student Name : Hok Hei Wong
StudentID : 301193519
Date: June 20, 2022-->

<div class="jumbotron-fluid" id="homePage">
    <div class="container">
        <h1 class="display-3">Anthony Hok Hei Wong</h1>
        <p class="lead">Welcome to my personal website. You may click on <a id="aboutBtn" href="/#aboutPage" role="button">about me</a> to know more about me.</p><br><br><br><br>
        <p class="text-center">
            <a class="btn btn-primary btn" id="startBtn" href="/#projectPage" role="button">Start Here</a> <br><br>To explore my projects<br>            
        </p>
    </div>
    <div class="container">
    </div>
</div>
