<div class="jumbotron-fluid">
    <div class="container">
        <h1 class="display-3"><%= title %></h1>
        <p class="lead">Welcome to my personal website. You may click on <a class="btn btn-primary btn-sm" href="/about" role="button">About Me</a> to know more about me</p>
        <hr class="my-2">
        <p>Motivated by the wish of making video games, I started learning programming in late 2021. </p>
    </div>
    <div class="container">
    </div>
</div>