<!-- File name: Assignment2
Student Name : Hok Hei Wong
StudentID : 301193519
Date: June 20, 2022-->

<div class="jumbotron-fluid">
    <div class="container">
        <h1 class="display-3"><%= title %></h1>
        <p class="lead">Welcome to my personal website. You may click on <a class="btn btn-primary btn-sm" href="/about" role="button">About Me</a> to know more about me</p>
        <hr class="my-2">
        <p class="text-center">
            <a class="btn btn-primary btn-sm" style="background-color:white;"href="/projects" role="button">My Projects</a> <br><br>            
        </p>
    </div>
    <div class="container">
    </div>
</div>