<div class="jumbotron-fluid">
    <div class="container">
        <h1 class="display-3"><%= title %></h1>
        <p class="lead">Welcome to my personal website. You may click on <a>About Me</a> to know more about me</p>
        <hr class="my-2">
        <p>More info</p>
        <p class="lead">
            <a class="btn btn-primary btn-sm" href="Jumbo action link" role="button">Jumbo action name</a>
        </p>
    </div>
    <div class="container">
    </div>
</div>