<!-- File name: Assignment2
Student Name : Hok Hei Wong
StudentID : 301193519
Date: June 20, 2022-->

<div class="jumbotron-fluid" id="homePage">
    
    <%- include('./content/about.ejs'); %>
</div>


