<!-- File name: Assignment2
Student Name : Hok Hei Wong
StudentID : 301193519
Date: June 20, 2022-->

<!-- Project Page -->
<div class="jumbotron-fluid">
    <div class="container">
        <h1 class="display-3"><%= title %></h1>
        <p class="lead">Web Development Project</p>
    </div>
</div>
<hr class="my-2">
<!-- Container for Project1 -->
<div class="container">
    <div class="row mt-5 mb-5 align-items-center">
        <div class="col-12 col-sm-4">
            <h3 class="text-left" style="text-align: left;">Project 1 - Porfolio Site</h3>
            <p class="text-left" style="text-align: left;">
                This portfolio is my first project using NodeJS and ejs framework.<br><br>
                2D shooter is a very simple game that I made, and the level design is pretty simple.<br><br>
                Tools: Unity<br><br>
                Instuctions: Movement Control: WASD, Shoot: left-click<br><br>
                Credits: MSU, Coursera
            </p>
        </div>
        <div class="col-12 col-sm-8"><iframe src="https://itch.io/embed/1348018" width="100%" frameborder="0"><img src="/assets/images/project1.png">Portfolio Site</img></iframe></div>
    </div>
</div>
<hr class="my-2">
<!-- Container for Project2 -->
<div class="container">
    <div class="row mt-5 mb-5 align-items-center">
        <div class="col-12 col-sm-8"><iframe src="https://itch.io/embed/1516147" width="100%" frameborder="0"><a href="https://anthonywong.itch.io/2d-platformer">2D platformer by anthonywong</a></iframe></div>
        <div class="col-12 col-sm-4">
            <h3>Project 2 - 2D Platformer</h3>
            <p class="text-left" style="text-align: left;">
                2D platformer is my second mini-game that I created with the help of MSU courses on Coursera.<br><br>
                It is a Mario-like games, and the level design is more complicated.
                Tools: Unity<br><br>
                Instuctions: Movement Control: WD, Jump: Spacebar<br><br>
                Credits: MSU, Coursera
            </p>
        </div>
    </div>
</div>
<hr class="my-2">
<!-- Container for Project3 -->
<div class="container">
<div class="jumbotron-fluid">
    <div class="container">
        
        <p class="lead">Mini Game Project</p>
    </div>
    
</div>
<!-- Container for Project4 -->
<div class="container">
    <div class="row mt-5 mb-5 align-items-center">
        <div class="col-12 col-sm-4">
            <h3 class="text-left" style="text-align: left;">Project 4 - 2D shooter</h3>
            <p class="text-left" style="text-align: left;">
                After I have learned about C# in the first semester of Centennial College, I started my journey to develop games.<br><br>
                2D shooter is a very simple game that I made, and the level design is pretty simple.<br><br>
                Tools: Unity<br><br>
                Instuctions: Movement Control: WASD, Shoot: left-click<br><br>
                Credits: MSU, Coursera
            </p>
        </div>
        <div class="col-12 col-sm-8"><iframe src="https://itch.io/embed/1348018" width="100%" frameborder="0"><a href="https://anthonywong.itch.io/2d-shooter">2D shooter by anthonywong</a></iframe></div>
    </div>
</div>
<hr class="my-2">
<!-- Container for Project5 -->
<div class="container">
    <div class="row mt-5 mb-5 align-items-center">
        <div class="col-12 col-sm-8"><iframe src="https://itch.io/embed/1516147" width="100%" frameborder="0"><a href="https://anthonywong.itch.io/2d-platformer">2D platformer by anthonywong</a></iframe></div>
        <div class="col-12 col-sm-4">
            <h3>Project 2 - 2D Platformer</h3>
            <p class="text-left" style="text-align: left;">
                2D platformer is my second mini-game that I created with the help of MSU courses on Coursera.<br><br>
                It is a Mario-like games, and the level design is more complicated.
                Tools: Unity<br><br>
                Instuctions: Movement Control: WD, Jump: Spacebar<br><br>
                Credits: MSU, Coursera
            </p>
        </div>
    </div>
</div>
<hr class="my-2">
<!-- Container for Project6 -->
<div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-sm-4">
            <h3>Project6 - 3D model with animations</h3>
            <p class="text-left" style="text-align: left;">
               This is a project that fully developed on my own. Unlike the previous projects with assets and scripts supported by others, I create this 3D character with terrains environment started from learning Blender, animator, camera control, controller scripts, and terrains.<br><br>
               Tools: Blender, Unity 3D, Pro-Builder<br><br>
               Instuctions:<br> Movement Control: WASD,<br> Jump and Double: Spacebar,<br> Camera Control: Mouse,<br> Hi Animation: right click
            </p>
        </div>
        <div class="col-12 col-sm-8"><%- include('./project3.ejs'); %></div>
    </div>
</div>