<!-- File name: Assignment2
Student Name : Hok Hei Wong
StudentID : 301193519
Date: June 20, 2022-->

<!-- Project Page -->
<div id="projectPage">
<div class="jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">My Projects</h1>
        <br>
        <hr class="my-2">
        <p class="lead">Web Development Project</p>
    </div>
</div>
<hr class="my-2">
<!-- Container for Project1 -->
<div class="container project-box">
    <h3 class="project-title" style="text-align: left;">Project 1 - Porfolio Site</h3>
    <div class="row mt-5 mb-5 align-items-center">
        <div class="col-12 col-sm-4">
            <p class="text-left" style="text-align: left;"><br>
                This portfolio is my first project using NodeJS and ejs framework.<br><br>
                This site is hosted using my own server with Hypervisor.<br><br>
                Tools: Ubuntu Linux 20.04, nodejs, ejs engine, Cloudflare Tunnel, VMware ESXI. <br><br>
                Future Update: Separate front end to a React Application.
            </p>
        </div>
        <div class="col-12 col-sm-8"><img class="pic" src="/assets/images/project1.png" style="width:100%;" alt="Portfolio Site"></img></div>
    </div>
</div>
<hr class="my-2">
<!-- Container for Project2 -->
<div class="container project-box">
    <h3 class="project-title">Project 2 - 214 Airline</h3>
    <div class="row mt-5 mb-5 align-items-center">
        <div class="col-12 col-sm-8"><a href="https://www.anthonyhhwong.link/"><img class="picLinks" src="/assets/images/project2.png" style="width:100%;" alt="Portfolio Site"></img>https://www.anthonyhhwong.link/</a></div>
        <div class="col-12 col-sm-4">
            
            <br>
            <p class="text-left" style="text-align: left;">
                214 Airline is a group project using NodeJS with oracle database as backend<br><br>
                Instead of the oracle database provided by Centennial College, we choosed to use Oracle Cloud Autonomous Database which allows more controls and flexibility on our database.<br><br>
                Tools: <br>
                Front End: NodeJS with ejs engine<br>
                Back End: Oracle Autonomous Database<br>
                System: Ubunutu Linux on AWS EC2 VM, Cloudflare SSL certificates
                <br><br>
                Sample Data: <br>
                Flight from HKG to YYZ, date: August 2nd, 2022 <br>
            </p>
        </div>
    </div>
</div>
<hr class="my-2">
<!-- Container for Project 3 -->
<div class="container project-box">
    <h3 class="project-title">Project 3 - Survey Horse</h3><br/>
    <div class="row align-items-center">
        <div class="col-12 col-sm-4">
            
            <p class="text-left" style="text-align: left;">
               Suvery Horse is a group project of CRUD application developed with NodeJS, ejs engine and MongoDB. In addition, we used word cloud to present the survey results. This application is hosted using Heroku.<br><br>
               Tools: <br>
               Front End: NodeJS with ejs engine<br>
               Back End: MongoDB Atlas<br>
               Host: Heroku
            </p>
        </div>
        <div class="col-12 col-sm-8"><a href="https://comp229-m22-group7-surveyhorse.herokuapp.com/"><img class="picLinks" src="/assets/images/project3.png" style="width:100%;" alt="Portfolio Site"></img>https://comp229-m22-group7-surveyhorse.herokuapp.com/</a></div>
    </div>
</div>
<hr class="my-2">
<div class="jumbotron-fluid">
    <div class="container">
        <p class="lead">Mini Game Projects</p>
    </div>
</div>
<hr class="my-2">
<!-- Container for Project4 -->
<div class="container project-box">
    <h3 class="project-title">Project 4 - 2D shooter</h3><br/>
    <div class="row mt-5 mb-5 align-items-center">
        <div class="col-12 col-sm-4">
            <p class="text-left" style="text-align: left;">
                After I have learned about C# in the first semester of Centennial College, I started my journey to develop games.<br><br>
                2D shooter is a very simple game that I made, and the level design is pretty simple.<br><br>
                Tools: Unity<br><br>
                Instuctions: Movement Control: WASD, Shoot: left-click<br><br>
                Credits: MSU, Coursera
            </p>
        </div>
        <div class="col-12 col-sm-8"><iframe src="https://itch.io/embed/1348018" width="100%" frameborder="0"><a href="https://anthonywong.itch.io/2d-shooter">2D shooter by anthonywong</a></iframe></div>
    </div>
</div>
<hr class="my-2">
<!-- Container for Project5 -->
<div class="container project-box">
    <h3 class="project-title">Project 5 - 2D Platformer</h3>
    <div class="row mt-5 mb-5 align-items-center">
        <div class="col-12 col-sm-8"><iframe src="https://itch.io/embed/1516147" width="100%" frameborder="0"><a href="https://anthonywong.itch.io/2d-platformer">2D platformer by anthonywong</a></iframe></div>
        <div class="col-12 col-sm-4">
            <p class="text-left" style="text-align: left;">
                2D platformer is my second mini-game that I created with the help of MSU courses on Coursera.<br><br>
                It is a Mario-like games, and the level design is more complicated.
                Tools: Unity<br><br>
                Instuctions: Movement Control: WD, Jump: Spacebar<br><br>
                Credits: MSU, Coursera
            </p>
        </div>
    </div>
</div>
<hr class="my-2">
<!-- Container for Project6 -->
<div class="container project-box">
    <h3 class="project-title">Project 6 - 3D model with animations</h3><br/>
    <div class="row align-items-center">
        <div class="col-12 col-sm-4">
            <p class="text-left" style="text-align: left;">
               This is a project that fully developed on my own. Unlike the previous projects with assets and scripts supported by others, I create this 3D character with terrains environment started from learning Blender, animator, camera control, controller scripts, and terrains.<br><br>
               Tools: Blender, Unity 3D, Pro-Builder<br><br>
               Instuctions:<br> Movement Control: WASD,<br> Jump and Double: Spacebar,<br> Camera Control: Mouse,<br> Hi Animation: right click<br><br>
               Future Updates: Provide more animations and create levels.
            </p>
        </div>
        <div class="col-12 col-sm-8"><a href="/project6"><img class="picLinks" src="/assets/images/project6.png" style="width:100%;" alt="Portfolio Site"></img></a></div>
    </div>
</div>
<hr class="my-2">
<div class="jumbotron-fluid">
    <div class="container">
        <p class="lead">Other Projects</p>
    </div>
</div>
<hr class="my-2">
<!-- Container for Project7 -->
<div class="container project-box">
    <h3 class="project-title">Github</h3>
    <div class="row align-items-center">
        <div class="col-12 col-sm-4">
            <p class="text-left" style="text-align: left;">
               Please visit my github for more side projects. Currently I am exploring to make <a href="https://socket.https://www.anthonyhhwong.link/">a live chat room with socket.io</a>
            </p>
        </div>
        <div class="col-12 col-sm-8"><img class="pic" src="/assets/images/project7.png" style="width:50%;" alt="Portfolio Site"></img><br>Network Diagram of my Home Lab.</div>
    </div>
</div>
<hr class="my-2">
</div>