<div class="container">
    <h1><%= title %></h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-sm-4"><h3>Game1</h3></div>
        <div class="col-12 col-sm-8"><iframe src="https://itch.io/embed/1516147" width="552" height="167" frameborder="0"><a href="https://anthonywong.itch.io/2d-platformer">2D platformer by anthonywong</a></iframe></div>
    </div>
</div>
<div class="container">
    <div class="row border border-danger">
        <div class="col-12 col-sm-4"><h3>Game2</h3></div>
        <div class="col-12 col-sm-8"><iframe src="https://itch.io/embed/1348018" width="552" height="167" frameborder="0"><a href="https://anthonywong.itch.io/2d-shooter">2D shooter by anthonywong</a></iframe></div>
    </div>
</div>


