<div class="jumbotron-fluid">
    <div class="container">
        <h1 class="display-3"><%= title %></h1>
        <p class="lead">Feel free to leave a message below</p>
    </div>
</div>
<hr class="my-2">
<div class="container">
    <div class="row mt-5 mb-5 align-items-center">
        <div class="col-12 col-sm-4">
            <h3 class="text-left" style="text-align: left;">Project 1 - 2D shooter</h3>
            <p class="text-left" style="text-align: left;">
                After I have learned about C# in the first of Centennial College, I started my journey to develop games.<br><br>
                2D shooter is a very simple game that I made, and the level design is pretty simple.<br><br>
                Game Engine: Unity<br><br>
                Instuctions: Movement Control: WASD, Shoot: left-click<br><br>
                credit: MSU, Coursera
            </p>
        </div>
        <div class="col-12 col-sm-8"><iframe src="https://itch.io/embed/1348018" width="100%" frameborder="0"><a href="https://anthonywong.itch.io/2d-shooter">2D shooter by anthonywong</a></iframe></div>
    </div>
</div>
<hr class="my-2">
<div class="container">
    <div class="row mt-5 mb-5 align-items-center">
        <div class="col-12 col-sm-8"><iframe src="https://itch.io/embed/1516147" width="100%" frameborder="0"><a href="https://anthonywong.itch.io/2d-platformer">2D platformer by anthonywong</a></iframe></div>
        <div class="col-12 col-sm-4">
            <h3>Project 2 - 2D Platformer</h3>
            <p class="text-left" style="text-align: left;">
                2D platformer is my second mini-game that I created with the help of MSU courses on Coursera.<br><br>
                It is a Mario-like games, and the level design is more complicated.
                Game Engine: Unity<br><br>
                Instuctions: Movement Control: WD, Jump: Spacebar<br><br>
                credit: MSU, Coursera
            </p>
        </div>
    </div>
</div>
<hr class="my-2">
<div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-sm-4">
            <h3>Project3 - 3D</h3>
            <p class="text-left" style="text-align: left;">
               This is a project that fully developed on my own. Unlike the previous projects with assets and scripts supported by others, I create this 3D character from learning Blender on Youtube.
            </p>
        </div>
        <div class="col-12 col-sm-8"><%- include('./project3.ejs'); %></div>
    </div>
</div>
<div class="container">
    <div class="row mt-5 mb-5 align-items-center">
        <div class="col-12 col-sm-8"><iframe src="https://itch.io/embed/1348018" width="552" height="167" frameborder="0"><a href="https://anthonywong.itch.io/2d-shooter">2D shooter by anthonywong</a></iframe></div>
        <div class="col-12 col-sm-4"><h3>Game2</h3></div>
    </div>
</div>


