<div class="container">
    <h1><%= title %></h1>
</div>

<iframe src="https://itch.io/embed/1516147" width="552" height="167" frameborder="0"><a href="https://anthonywong.itch.io/2d-platformer">2D platformer by anthonywong</a></iframe>