<!-- File name: Assignment2
Student Name : Hok Hei Wong
StudentID : 301193519
Date: June 20, 2022-->

<!-- Service Page EJS -->
<div class="jumbotron-fluid">
    <div class="container">
        <h1 class="display-3"><%= title %></h1>
        <p class="lead">I am currently available for any part time jobs related to software development. Please contact me through <a href="mailto:confusion@food.net">whokhei@my.centennialcollege.ca</a></p>
        <hr class="my-2">
        <ul>
            <li>
                MERN stack web development
            </li>
            <li>
               Mini game development
            </li>
        </ul>
       
    </div>
    <div class="container">
    </div>
</div>