<div class="jumbotron-fluid">
    <div class="container">
        <h1 class="display-3"><%= title %></h1>
        <p class="lead">I can provide the below list of service.</p>
        <hr class="my-2">
        <ul>
            <li>
                MEAN stack web development
            </li>
            <li>
               Mini game development
            </li>
        </ul>
       
    </div>
    <div class="container">
    </div>
</div>