<!-- File name: Assignment2
Student Name : Hok Hei Wong
StudentID : 301193519
Date: June 20, 2022-->

<div class="jumbotron-fluid">
    <div class="container">
        <h1 class="display-3"><%= title %></h1>
        <p class="lead">Welcome to my personal website. You may click on <a class="btn btn-primary btn-sm" href="/about" role="button">About Me</a> to know more about me</p>
        <hr class="my-2">
        <p>Motivated by the wish of making video games, I started to learn programming in mid 2021.<br><br>
            After a year of learning programming and game engines, I have the knowledge of Unity, Blende, Bootstrap and MEAN stack web developments.<br><br>
            The programming language that I use the most are C# and Typescript. I am a able to use them to solve medium level Leetcode challenges.<br><br>
            Click on this <a class="btn btn-primary btn-sm" href="/projects" role="button">Projects</a> button for more about my unity projects.<br><br>
            My path of learning codes will never end.<br><br>
        </p>
    </div>
    <div class="container">
    </div>
</div>