<nav class="navbar navbar-dark bg-dark">
      <div class="col-6 col-sm-2 text-center">
        <a a class="navbar-brand" href="#">Links:</a>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link py-0" href="/home" title="home"> </i> Home</a></li>
          <li class="nav-item"><a class="nav-link py-0" href="/about"></i> About</a></li>
          <li class="nav-item"><a class="nav-link py-0" href="/projects"> </i> Projects</a></li>
          <li class="nav-item"><a class="nav-link py-0" href="/services"> </i> Services</a></li>
          <li class="nav-item"><a class="nav-link py-0" href="/contact"> </i> Contact Me</a> </li>
        </ul>
        </div>
      
    </div>
      <!-- social icon -->
      <div class="col-6 col-sm-10 ms-auto">
        <a class="btn btn-sm btn-social-icon btn-google" href="http://google.com/+"><i class="fa-brands fa-google"></i></a>
        <a class="btn btn-sm btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa-brands fa-facebook"></i></a>
        <a class="btn btn-sm btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa-brands fa-linkedin"></i></a>
        <a class="btn btn-sm btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
        <a class="btn btn-sm btn-social-icon btn-google" href="http://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
        <a class="btn btn-sm btn-social-icon btn-github" href="mailto:anthonywong.hokhei@gmail.com"><i class="fa-solid fa-envelope"></i></a>
      </div>
</nav>
  