<!-- File name: Assignment2
Student Name : Hok Hei Wong
StudentID : 301193519
Date: June 20, 2022-->

<!-- Footer EJS -->
<nav class="navbar navbar-dark bg-dark">
      <div class="col-5 col-sm-3 offset-1">
        <a a class="navbar-brand" href="#">Links:</a>

        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item"><a class="nav-link py-0" href="/home" title="home">Home</a>
          <li class="nav-item"><a class="nav-link py-0" href="/about">About</a>
          <li class="nav-item"><a class="nav-link py-0" href="/projects">Projects</a>
          <li class="nav-item"><a class="nav-link py-0" href="/services">Services</a>
          <li class="nav-item"><a class="nav-link py-0" href="/contact"> Contact Me</a> 
        </ul>
        </div>
    </div>
      <!-- social icon, will further add my personal social media sites -->
      <div class="col-6 col-sm-8">
          <a class="btn btn-sm btn-social-icon btn-facebook" href="https://www.facebook.com/profile.php?id=1168750450"><i class="fa-brands fa-facebook"></i></a>
          <a class="btn btn-sm btn-social-icon btn-linkedin" href="https://www.linkedin.com/in/hok-hei-wong-8b620a1b9/ "><i class="fa-brands fa-linkedin"></i></a>
          <a class="btn btn-sm btn-social-icon btn-twitter" href="https://twitter.com/wong95216"><i class="fa-brands fa-twitter"></i></a>
          <a class="btn btn-sm btn-social-icon btn-github" href="mailto:anthonywong.hokhei@gmail.com"><i class="fa-solid fa-envelope"></i></a>
      </div>
</nav>
  