<nav class="navbar fixed-bottom navbar-dark bg-dark">
      <div class="col-4">
        <ul class="list-unstyled">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home" title="home"> <i class="fa-solid fa-house-signal fa-lg"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about" > <i class="fa-solid fa-address-card fa-lg"></i> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/projects"> <i class="fa-solid fa-person-digging fa-lg"></i> Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/services"> <i class="fa-solid fa-signs-post fa-lg"></i> Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/contact"> <i class="fa-solid fa-user-pen fa-lg"></i></i> Contact Me</a>
          </li>
        </ul>
      <a a class="navbar-brand" href="#">Fixed bottom</a>
    </div>
      <!-- social icon -->
      <div class="text-center">
        <a class="btn btn-sm btn-social-icon btn-google" href="http://google.com/+"><i class="fa-brands fa-google"></i></a>
        <a class="btn btn-sm btn-social-icon btn-facebook" href="http://www.facebook.com/profile.php?id="><i class="fa-brands fa-facebook"></i></a>
        <a class="btn btn-sm btn-social-icon btn-linkedin" href="http://www.linkedin.com/in/"><i class="fa-brands fa-linkedin"></i></a>
        <a class="btn btn-sm btn-social-icon btn-twitter" href="http://twitter.com/"><i class="fa-brands fa-twitter"></i></a>
        <a class="btn btn-sm btn-social-icon btn-google" href="http://youtube.com/"><i class="fa-brands fa-youtube"></i></a>
        <a class="btn btn-sm btn-social-icon btn-github" href="mailto:anthonywong.hokhei@gmail.com"><i class="fa-solid fa-envelope"></i></a>
      </div>
</nav>
  