<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
      <div class="sidebar-header">
          <h3>Bootstrap Sidebar</h3>
      </div>

      <ul class="list-unstyled components">
          <p>Dummy Heading</p>
            <a class="nav-link" aria-current="page" href="/home" title="home"> <i class="fa-solid fa-house-signal fa-lg"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about" > <i class="fa-solid fa-address-card fa-lg"></i> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/projects"> <i class="fa-solid fa-person-digging fa-lg"></i> Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/services"> <i class="fa-solid fa-signs-post fa-lg"></i> Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/contact"> <i class="fa-solid fa-user-pen fa-lg"></i></i> Contact Me</a>
          </li>
        </ul>
      </nav>
  
  </div>