<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" >
    <div class="container-fluid">
      <a class="navbar-brand" href="/"><img src="/assets/images/icons8-a-96.png" style="background-color:white" alt="Page icon" width="24" height="24">Personal Website</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/home" title="home"> <i class="fa-solid fa-house-signal fa-lg"></i> Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about" > <i class="fa-solid fa-address-card fa-lg"></i> About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/projects"> <i class="fa-solid fa-person-digging fa-lg"></i> Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/services"> <i class="fa-solid fa-signs-post fa-lg"></i> Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/contact"> <i class="fa-solid fa-user-pen fa-lg"></i></i> Contact Me</a>
          </li>
        </ul>
        <!-- <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
    
  </nav>